@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'pxlxxl';
  src: url('../assets/fonts/pxlxxl.regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/pxlxxl.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --light-blue: #A6CFFB;
  --blue: #3E5979;
  --dark-blue: #2e4258;
  --off-white: #EBDFE3;
  --field: rgb(190, 190, 190);
  --field-dark: rgb(150, 150, 150);
  --invalid: #D6688D;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html,
body,
#container {
  height: 100%;
}

a {
  color: pink;
}

h1 {
  font-size: 2.5rem;
  padding-top: 50px;
}

.highlight {
  color: pink;
}

#container {
  display: flex;
  justify-content: flex-start;
}

#image-container {
  background-image: url("../assets/images/city.gif");
  background-position: 50% 39%;
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  max-width: 600px;
  background-size: cover;
}

#banner {
  padding: 10px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12%;
}

#wordmark {
  font-family: 'pxlxxl', Arial, Helvetica, sans-serif;
  font-size: 6rem;
  color: var(--off-white);
  line-height: 0.9;
}

#logo {
  width: 70px;
  height: auto;
  margin-right: 24px;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px;
  background-color: var(--dark-blue);
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  margin: 0;
  color: whitesmoke;
  max-width: 500px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  flex-wrap: wrap;
}

.input-container label {
  display: block;
  font-size: 0.9rem;
  color: var(--field);
  margin-bottom: 10px;
}

.input-container label>span {
  color: rgb(135, 135, 135);
}

.input-container input {
  background-color: var(--dark-blue);
  border: none;
  border-bottom: solid 1px var(--off-white);
}

input {
  color: whitesmoke;
  height: 25px;
}

input:focus {
  border: solid 1px var(--field);
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

input:hover {
  border-bottom: solid 2px var(--off-white);
}

input:user-invalid {
  border-bottom: solid 2px var(--invalid);
}

label:has(+ input:focus) {
  color: var(--off-white);
}

label:has(+ input:not(:focus):user-invalid) {
  color: var(--invalid);
}

#button-container p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

#button-container button {
  background-color: pink;
  color: var(--dark-blue);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  width: 150px;
  height: 40px;
}

#button-container button:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

#button-container button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transform: translateY(1px);
}

#password-error,
#password-requirement {
  margin: 15px 0 0 0;
  font-size: 0.9rem;
  visibility: hidden;
}

#password-requirement {
  color: var(--field-dark);
}

#password-error {
  color: var(--invalid);
}

#password:focus+#password-requirement {
  visibility: visible;
}